In [1]:
import numpy as np
import pandas as pd
from df_to_dictionary.main import df_to_dictionary

In [2]:
df = pd.read_csv('CollegePlace.csv')

In [3]:
df.head()

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
0,22,Male,Electronics And Communication,1,8,1,1,1
1,21,Female,Computer Science,0,7,1,1,1
2,22,Female,Information Technology,1,6,0,0,1
3,21,Male,Information Technology,0,8,0,1,1
4,22,Male,Mechanical,0,8,1,0,1

In [4]:
df.tail()

,Age,Gender,Stream,Internships,CGPA,Hostel,HistoryOfBacklogs,PlacedOrNot
2961,23,Male,Information Technology,0,7,0,0,0
2962,23,Male,Mechanical,1,7,1,0,0
2963,22,Male,Information Technology,1,7,0,0,0
2964,22,Male,Computer Science,1,7,0,0,0
2965,23,Male,Civil,0,8,0,0,1

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
encoder= LabelEncoder()

In [7]:
df['Stream'] = encoder.fit_transform(df['Stream'])

In [8]:
df.iloc[2710,]

Age                    20
Gender               Male
Stream                  4
Internships             0
CGPA                    7
Hostel                  0
HistoryOfBacklogs       0
PlacedOrNot             0
Name: 2710, dtype: object

In [9]:
x = df.drop(columns = ['Gender','PlacedOrNot'],axis = 1)
y = df['PlacedOrNot']

In [10]:
x.head()

   Age  Stream  Internships  CGPA  Hostel  HistoryOfBacklogs
0   22       3            1     8       1                  1
1   21       1            0     7       1                  1
2   22       4            1     6       0                  0
3   21       4            0     8       0                  1
4   22       5            0     8       1                  0

In [11]:
x =x.astype('int32')
y = y.astype('int32')

In [12]:
x.head()

   Age  Stream  Internships  CGPA  Hostel  HistoryOfBacklogs
0   22       3            1     8       1                  1
1   21       1            0     7       1                  1
2   22       4            1     6       0                  0
3   21       4            0     8       0                  1
4   22       5            0     8       1                  0

In [13]:
x_data,y_data = df_to_dictionary(x,y,2900)

In [19]:
from river import compose
from river import linear_model
from river import metrics
from river import preprocessing

model = compose.Pipeline(
    preprocessing.StandardScaler(),
    linear_model.LogisticRegression())

metric = metrics.Accuracy()

for i in range(0,2900):
    y_pred = model.predict_one(x_data[i])      # make a prediction
    metric = metric.update(y_data[i], y_pred)  # update the metric
    model = model.learn_one(x_data[i], y_data[i])

In [20]:
metric

Accuracy: 55.28%

In [21]:
model.predict_one(x_data[2710])

True

In [22]:
x_data[0]

{'Age': 22,
 'Stream': 3,
 'Internships': 1,
 'CGPA': 8,
 'Hostel': 1,
 'HistoryOfBacklogs': 1}

In [18]:


# # metric

# def Convert(lst):
#     res_dct = map(lambda i: (lst[i], lst[i+1]), range(len(lst)-1)[::2])
#     return dict(res_dct)

# def get_index(x_data):
#     column_name  =list(x_data.columns)
#     index_list_len =lambda columns:len(columns)*2
#     lst = []
#     for i in range(0,index_list_len(column_name)):
#         if i%2 != 0:
#             lst.append(i)
#     return lst,column_name

# def df_to_river_data(x_data,y_data,x_data_len):
#     indexs,column_name = get_index(x_data)
#     ydata = []
#     xdata = []
#     for i in y_data:
#         ydata.append(i)
#     for i in range(0,x_data_len):
#         col = x_data.iloc[i,]
#         number = 0
#         for num in col:
#             column_name.insert(indexs[number],col[number])
#             number +=1

#         xdata.append(Convert(column_name))
#     return xdata,ydata

# if __name__=="__main__":
#     x_data,y_data = df_to_river_data(x,y,2900)